.cart-btn {
    align-items: center;
    border: 1px solid var(--cole-o-1-cores-yellow01);
    border-radius: 10px;
    display: flex;
    gap: 8px;
    height: 40px;
    justify-content: center;
    overflow: visible;
    position: relative;
    width: 44px;
    background: transparent;
}

.cart-btn .shopping-cart-line {
    height: 24px !important;
    width: 24px !important;
    position: relative !important;
    display: block;
}

.cart-btn-counter {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #ffe001;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    border: 2px solid var(--cole-o-1-cores-yellow01); /* borda amarela */
    z-index: 10;
    padding: 0 6px;
    pointer-events: none;
    line-height: 1;
}

/* Estilos específicos para desktop */
@media (min-width: 769px) {
    .cart-btn-counter {
        top: -10px;
        right: -10px;
        min-width: 24px;
        height: 24px;
        font-size: 13px;
        font-weight: 600;
        border: 3px solid var(--cole-o-1-cores-yellow01);
        padding: 0 8px;
    }
} 